{
  "presets": [
    "es2015",
    "es2016",
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "ignore": "node_modules"
}